.ck#discuss-button {
  display: block;
  position: absolute;
  top: 5px;
  right: 8px;
}

.ck#discuss-button span.label {
  position: absolute; 
  right: 55px; 
  font-weight: bold; 
  color: white; 
  top: 10px;
}

.ck#discuss-button.active span.label {
  color: #b1e73a;
}

.ck#discussion-panel {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 20px;
  top: 120px;
  background: white;
  opacity: 0.9;
}

.ck#discussion-mask {
  top: 60px;
}

.ck#discussion-panel-close-button {
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.ck#discussion-panel-close-button span {
  float: right;
}

.ck.note-input {
  
}